<h2>Admin Bejelentkezés</h2>

<form asp-action="Admin" method="post">
    <div class="mb-3">
        <label>Felhasználónév</label>
        <input name="username" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Jelszó</label>
        <input name="password" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Bejelentkezés</button>

</form>
@if (ViewBag.LoginStatus != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById('loginModal'));
            myModal.show();
        });
    </script>
} 




