<h2>Admin felület</h2>

<p style="color:green">Sikeres bejelentkezés!</p>

<a asp-action="Update">Hírek szerkesztése</a><br />
<a asp-action="ImageUpdate">Képek szerkesztése</a><br />
<a asp-action="WorkersUpdate">Dolgozók szerkesztése</a><br />



<a asp-action="Logout">Kijelentkezés</a>
