<h2>Admin Bejelentkezés</h2>

<form method="post">
    <div>
        <label>Felhasználónév:</label>
        <input type="text" name="username" />
    </div>

    <div>
        <label>Jelszó:</label>
        <input type="password" name="password" />
    </div>

    <button type="submit">Bejelentkezés</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red" >@ViewBag.Error</p>
}