<h2>Admin felület</h2>

<p style="color:green">Sikeres bejelentkezés!</p>

<a href="/Admin/Update" name="Update">Hírek szerkesztése</a><br />
<a href="/Admin/ImageUpdate" name="ImageUpdate">Képek szerkesztése</a><br />
<a href="/Admin/WorkersUpdate" name="WorkersUpdate">Dolgozók szerkesztése</a><br />


<a asp-action="Logout">Kijelentkezés</a>
