<h2>Értékelés</h2>

<p>Értékelje cégünket, írjon véleményt, köszönjük!</p>

<form method="post">
   
    <img src="/rating/feketecsillag.jpg" id="1cs" onclick="Ertekel(1)" class="fekacsillag" />
    <img src="/rating/feketecsillag.jpg" id="2cs" onclick="Ertekel(2)" class="fekacsillag" />
    <img src="/rating/feketecsillag.jpg" id="3cs" onclick="Ertekel(3)" class="fekacsillag" />
    <img src="/rating/feketecsillag.jpg" id="4cs" onclick="Ertekel(4)" class="fekacsillag" />
    <img src="/rating/feketecsillag.jpg" id="5cs" onclick="Ertekel(5)" class="fekacsillag" />


    <br />

<textarea name="leiras" rows="5" cols="60" placeholder="Ide írja véleményét! "></textarea>
</form>

<script>
    function Ertekel(p)
    {
        
    }
</script>
