@model List<Lakasdr.Models.Ertekeles>


@* admin funkcio otlet: az admin tud commenteket torolni *@

<h2>Értékelés</h2>

<p>Értékelje cégünket, írjon véleményt, köszönjük!</p>

<form method="post"> 

    Adja meg E-mail címét, hogy véleményt írhasson! <input type="email" id="emailbeker" name="email" onblur="Emailcheck()"/>  
    <span id="emailhiba" style="color:red"></span>

    <br />
    <input type="hidden" name="pont" id="pont" />
   
    <img src="/rating/feketecsillag.png" id="1cs" onclick="Ertekel(1)" class="fekacsillag" style="width:80px"/>
    <img src="/rating/feketecsillag.png" id="2cs" onclick="Ertekel(2)" class="fekacsillag" style="width:80px" />
    <img src="/rating/feketecsillag.png" id="3cs" onclick="Ertekel(3)" class="fekacsillag" style="width:80px" />
    <img src="/rating/feketecsillag.png" id="4cs" onclick="Ertekel(4)" class="fekacsillag" style="width:80px" />
    <img src="/rating/feketecsillag.png" id="5cs" onclick="Ertekel(5)" class="fekacsillag" style="width:80px" />

    <br />

<textarea name="leiras" rows="5" cols="60" placeholder="Ide írja véleményét! "></textarea>
<br />
<input type="submit" asp-action="Ertekel" class="btn btn-light"/>
</form>


<div class="divertekel" id="divborder">
<h3>@ViewBag.Atlag</h3><img src="/rating/sargacsillag.png" style="width:80px" />
</div>

<h3>Eddigi vélemények a cégről: </h3>

@foreach(var item in Model)
{
    <div class="border" style="background-color:lightblue">
        <label>@item.Email</label>
        <p>
            @item.Desc
        </p>
        <p>
            @item.Ideje
        </p>
    </div>
    <br />
}

<script src="~/js/emailcheck.js"></script>


