@model List<Image>


<h2>Galéria</h2>

@if (!Model.Any())
{
    <p>Még nincs feltöltött kép.</p>
}
else
{
    <div style="display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:20px;">

        @foreach (var img in Model)
        {
            <div style="border:1px solid #ddd;border-radius:10px;padding:10px;text-align:center">

                <img src="@img.FilePath" style="width:100%;height:200px;object-fit:cover;border-radius:8px">

                <h4>@img.Nev</h4>

            </div>
        }

    </div>
}