<h2>Kép feltöltése</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="text" name="nev" placeholder="Kép neve" />
    <br /><br />
    <input type="file" name="file" />
    <br /><br />
    <button type="submit">Feltöltés</button>
</form>